.placeCard {
  display: flex;
  flex-direction: column;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: auto;
}

.imgWrapper {
  display: flex;
  justify-content: center;
  background:#ccc;
  height: 222px;
  width: 333px;
  border-radius: 3px;
}

.img {
  height: 100%;
}

.roomType {
  margin: 5px 0px 5px 0px;
  font-size: .75em;
  color: #999;
}

.title {
  font-size: 1.25em;
  font-weight: 400;
  color: #444;
  margin: 0px 0px 5px 0px;

}

.price {
  color: #777;
  margin: 0px 0px 5px 0px;
  font-size: .95em;

}

.ratings {
  font-size: .8em;
  color: #777;

}