
.wrapper {
  display: flex;
  margin: auto;
}
button {
  background: white;
  position: relative;
  border: none;
  z-index: 333;
}
.list {
  display: flex;
  justify-content: center;
  /* position: relative;
  right: 15px; */
  width: 1060px;
  overflow: hidden;
  padding: 0;
  height: fit-content;
}
.listItem{
  display: flex;
  width: 333;
  position: relative;
  padding: 5px;
}

.btnWrapper {
  display:flex;
  justify-content: center;
  width: 30px;
}

.disabled {
  display: none;
}

.arrow {
  color: #c5b2b2;
  font-size: 1.5em;
  font-weight: 100;
  position: relative;
  bottom: 35px;
}

.arrow:focus {
  outline: none;
}

.animateRight {
  display: flex;
  padding: 5px;
  animation-name: slideRight;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

@keyframes slideRight {
  0% {right: 0;}
  100% {right: 340px;}
}

.animateLeft {
  display: flex;
  padding: 5px;
  animation-name: slideLeft;
  animation-duration: .5s;
  animation-fill-mode: forwards
}

@keyframes slideLeft {
  0% {left: 0;}
  100% {left: 340px;}
}